<!DOCTYPE html>
<html lang="en" class="has-navbar-fixed-top">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} - PoeHUD.store</title>
    <link rel="stylesheet" href="{{ url_for("static", filename="css/mystyles.css") }}">
    <link rel="stylesheet" href="{{ url_for("static", filename="css/style.css") }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {% block head_extra %}{% endblock %}
</head>
<body>
<div id="note"></div>

{% block navbar %}
    {% include "navbar.html" %}
{% endblock %}

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div id="notification-list">
            <ul>
                {% for category, message in messages %}
                    <li class="has-background-{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
{% endwith %}

{% block content %}{% endblock %}


{% block footer %}
    <footer class="footer">
        <div class="container">
            <div class="columns">
                <div class="column">
                    <p class="is-uppercase has-text-grey">© 2019 PoeHUD<span
                            class="has-text-weight-bold">store</span></p>
                    <p>{{ _("All Rights Reserved") }}</p>
                    <p><a href="#">{{ _("Private Policy") }}</a></p>
                </div>
                <div class="column">
                    <p class="is-uppercase has-text-weight-semibold has-text-grey">{{ _("Contact") }}</p>
                    <div class="address">
                        <p>Never Land 42</p>
                        <p>X203 Mars</p>
                    </div>
                    <div class="phone">
                        <p>+45 12 34 56 78</p>
                    </div>
                    <div class="mail">
                        <p>yeahright@gmail.com</p>
                    </div>
                </div>
                <div class="column">
                    <p class="is-uppercase has-text-weight-semibold has-text-grey">{{ _("Site Links") }}</p>
                    <aside class="menu">
                        <ul class="menu-list">
                            <a href="{{ url_for("plugins.new") }}" class="navbar-item">
                                {{ _("New Plugin") }}
                            </a>
                        </ul>
                    </aside>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}

</body>

{% block scripts %}{% endblock %}
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {

        // Get all "navbar-burger" elements
        const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

        // Check if there are any navbar burgers
        if ($navbarBurgers.length > 0) {

            // Add a click event on each of them
            $navbarBurgers.forEach(el => {
                el.addEventListener('click', () => {

                    // Get the target from the "data-target" attribute
                    const target = el.dataset.target;
                    const $target = document.getElementById(target);

                    // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                    el.classList.toggle('is-active');
                    $target.classList.toggle('is-active');

                });
            });
        }
    });
</script>
</html>