<nav class="navbar is-transparent is-fixed-top">
    <div class="container is-uppercase">
        <div class="navbar-brand">
            <a class="navbar-item" href="{{ url_for('site.index') }}">
                {#<img src="{{ url_for('static', filename='img/logo.png') }}" alt="">#}
                <p class="is-size-4">
                    PoeHUD<span class="has-text-weight-bold">store</span>
                </p>
            </a>
            <div class="navbar-burger burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start" style="font-weight: 500">
                <a href="{{ url_for("plugins.new") }}" class="navbar-item">
                    {{ _("New Plugin") }}
                </a>
            </div>
            <div class="navbar-end" style="font-weight: 500">
                {% if current_user.is_authenticated %}
                    <a class="navbar-item" href="{{ url_for("profiles.index", username=current_user.username) }}">
                        {{ current_user.username }}
                    </a>
                    <div class="navbar-item">
                        <p class="control">
                            <a class="button is-primary is-outlined is-rounded"
                               href="{{ url_for("site.logout") }}">
                                <span>{{ _("Logout") }}</span>
                            </a>
                        </p>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</nav>