{% extends "base.html" %}

{% block content %}
    <div class="columns">
        <div class="column">
            <p><b>Start Date: </b>{{ agreement.start_date }}</p>
            <p><b>Frequency: </b>{{ agreement.plan.payment_definitions[0].frequency }}</p>
            <p><b>Frequency Interval: </b>{{ agreement.plan.payment_definitions[0].frequency_interval }}</p>
            <p><b>Amount: </b>{{ agreement.plan.payment_definitions[0].amount.value }}</p>
            <p><b>Currency: </b>{{ agreement.plan.payment_definitions[0].amount.currency }}</p>
            <p><b>Cycles Remaining: </b>{{ agreement.agreement_details.cycles_remaining }}</p>
            <p><b>Outstanding Balance: </b>{{ agreement.agreement_details.outstanding_balance.value }}</p>
            <p><b>Next Bill Due: </b>{{ agreement.agreement_details.next_billing_date|default("", True) }}</p>
            <p><b>Last Payment Date: </b>{{ agreement.agreement_details.last_payment_date|default("", True) }}</p>
            <p><b>Final Payment Date: </b>{{ agreement.agreement_details.final_payment_date|default("", True) }}</p>
        </div>
    </div>
{% endblock %}