{% extends 'base.html' %}

{% block title %}{{ _("Create user") }}{% endblock %}

{% block content %}
    <section class="section hero is-medium">
        <div class="container">
            <div class="hero-body">
                <div class="columns">
                    {#<div class="column is-hidden-mobile is-half">
                        <figure class="image">
                            <img src="{{ url_for("static", filename="images/profile.png") }}" alt="">
                        </figure>
                    </div>#}
                    <div class="column is-half">
                        <h3 class="has-text-dark has-text-weight-bold is-size-1">
                            {{ _("Create User") }}
                        </h3>
                        {% include "site/user_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}