{% extends 'base.html' %}

{% block title %}
    {{ _("Landing page") }}
{% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <h3 class="title">{{ _("Popular Plugins") }}</h3>
                {#New Plugins#}
                {% if popular_plugins %}
                    <div class="columns">
                        {% for plugin in popular_plugins %}
                            <div class="column is-one-fifth">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image">
                                            <a href="{{ url_for("plugins.index", name=plugin.name) }}">
                                                {% if plugin.image_path %}
                                                    <img src="{{ url_for("static", filename="plugin_images/" + plugin.image_path) }}"
                                                         alt="Cover image for {{ plugin.name }}">
                                                {% else %}
                                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <a class="title is-4"
                                                   href="{{ url_for("plugins.index", name=plugin.name) }}">
                                                    {{ plugin.name }}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <p>{{ plugin.description|safe|truncate(60) }}</p>
                                            <p>by <a class="has-text-weight-bold"
                                                     href="{{ url_for("profiles.index", username=plugin.author) }}">{{ plugin.author }}</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="column has-text-centered">
                        <p class="is-size-5">{{ _("No plugins.") }}</p>
                    </div>
                {% endif %}
                <hr>
                <h3 class="title">{{ _("New Plugins") }}</h3>
                {#New Plugins#}
                {% if new_plugins %}
                    <div class="columns">
                        {% for plugin in  new_plugins %}
                            <div class="column is-one-fifth">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image">
                                            <a href="{{ url_for("plugins.index", name=plugin.name) }}">
                                                {% if plugin.image_path %}
                                                    <img src="{{ url_for("static", filename="plugin_images/" + plugin.image_path) }}"
                                                         alt="Cover image for {{ plugin.name }}">
                                                {% else %}
                                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <a class="title is-4"
                                                   href="{{ url_for("plugins.index", name=plugin.name) }}">
                                                    {{ plugin.name }}
                                                </a>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <p>{{ plugin.description|safe|truncate(60) }}</p>
                                            <p>by <strong>{{ plugin.author }}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="column has-text-centered">
                        <p class="is-size-5">{{ _("No plugins.") }}</p>
                    </div>
                {% endif %}

                <hr>
                <h3 class="title">{{ _("Latest Updated Plugins") }}</h3>
                {% if latest_updated_plugins %}
                    <div class="columns">
                        {% for plugin in  latest_updated_plugins %}
                            <div class="column is-one-fifth">
                                <div class="card">
                                    <div class="card-image">
                                        <figure class="image">
                                            <a href="{{ url_for("plugins.index", name=plugin.name) }}">
                                                {% if plugin.image_path %}
                                                    <img src="{{ url_for("static", filename="plugin_images/" + plugin.image_path) }}"
                                                         alt="Cover image for {{ plugin.name }}">
                                                {% else %}
                                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                                                {% endif %}
                                            </a>
                                        </figure>
                                    </div>
                                    <div class="card-content">
                                        <div class="media">
                                            <div class="media-content">
                                                <a class="title is-4"
                                                   href="{{ url_for("plugins.index", name=plugin.name) }}">{{ plugin.name }}</a>
                                            </div>
                                        </div>

                                        <div class="content">
                                            <p>{{ plugin.description|safe|truncate(60) }}</p>
                                            <p>by <strong>{{ plugin.author }}</strong></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="column has-text-centered">
                        <p class="is-size-5">{{ _("No plugins.") }}</p>
                    </div>
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}