{% extends 'base.html' %}

{% block title %}{{ _("Login") }}{% endblock %}

{% block content %}
    <section class="section hero is-medium">
        <div class="container">
            <div class="hero-body">
                <div class="columns">
                    {#<div class="column is-hidden-mobile is-half">
                        <img src="{{ url_for("static", filename="img/logo.png") }}" alt="">
                    </div>#}
                    <div class="column is-half">
                        <h3 class="has-text-dark has-text-weight-bold is-size-1">
                            {{ _("Login") }}
                        </h3>
                        {% include "site/user_form.html" %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}