<form method="post">
    {{ form.hidden_tag() }}
    <div class="field">
        <label class="label">{{ _("Username") }}</label>
        <div class="control">
            <input type="text"
                   placeholder="{{ _("user42") }}"
                   class="input is-large"
                   autofocus
                   name="username"
                   autocomplete="false"
            >
        </div>
    </div>

    {% if form.email %}
        <div class="field">
            <label class="label">{{ _("Email") }}</label>
            <div class="control">
                <input type="email"
                       placeholder="{{ _("user@domain.com") }}"
                       class="input is-large"
                       autofocus
                       name="email"
                       autocomplete="false"
                >
            </div>
        </div>
    {% endif %}
    <div class="field">
        <label class="label">{{ _("Password") }}</label>
        <div class="control">
            <input type="password"
                   placeholder="{{ _("********") }}"
                   class="input is-large"
                   name="password"
                   autocomplete="false"
            >
        </div>
    </div>
    {% if form.remember %}
        <div class="field">
            <label class="checkbox">
                <input type="checkbox" name="remember">
                Remember me
            </label>
        </div>
        <div class="field">
            <a href="{{ url_for("site.create_user") }}">
                <span class="has-text-right">{{ _("Not a member? Create User") }}</span>
            </a>
        </div>
    {% endif %}
    <div class="field">
        <div class="control">
            <button class="button is-large is-primary">{{ _("Submit") }}</button>
        </div>
    </div>
</form>