@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

// Set your brand colors
$kj-snow: #FFFFFF;
$kj-blue: #3254EF;
$kj-green: #62a983;
$kj-orange: #FB6F4C;
$kj-light-grey: #E0DAD9;
$kj-grey: #92908A;


// Update Bulma's global variables
$family-sans-serif: "Roboto", sans-serif;
$grey: $kj-grey;
$grey-light: $kj-light-grey;
$primary: $kj-green;
$green: $kj-green;
$orange: $kj-orange;
$white: $kj-snow;
$blue: $kj-blue;

$link: $kj-green;

$body-size: 13px;

$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: $kj-snow;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;

// Import only what you need from Bulma
@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/form.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/table.sass";
@import "../node_modules/bulma/sass/elements/image.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/icon.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";