{% extends "base.html" %}

{% block title %}{{ _('502 BAD GATEWAY') }}{% endblock %}

{% block content %}
    <section id="home" class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-centered">
                        <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
                            {{ _('Oops!') }}
                        </h1>
                        <p class="is-size-6-desktop">
                            {{ _('502 BAD GATEWAY') }}
                        </p>
                        <h2 class="subtitle is-size-3-desktop">
                                {{ _("The proxy server received an invalid response from an upstream server.") }}
                        </h2>
                        <a class="button is-dark is-outlined is-rounded is-large" href="{{ url_for("site.index") }}">
                            <span>{{ _("Go ") }} <i class="fas fa-home"></i></span>
                        </a>
                    </div>
                    {#TODO: Create logo and insert here.#}
                    {#<div class="column" style="text-align: right">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}
