{% extends "base.html" %}

{#{% block navbar %}{% endblock %}#}

{% block title %}{{ _('500 INTERNAL SERVER ERROR') }}{% endblock %}

{% block content %}
    <section id="home" class="hero is-fullheight-with-navbar">
        <div class="hero-body">
            <div class="container">
                <div class="columns">
                    <div class="column is-centered">
                        <h1 class="title is-spaced is-size-1-desktop is-size-2-tablet is-size-3-mobile">
                            {{ _('Oops!') }}
                        </h1>
                        <p class="is-size-6-desktop">
                            {{ _('500 INTERNAL SERVER ERROR') }}
                        </p>
                        <h2 class="subtitle is-size-3-desktop">
                            {{ _("This is not working properly, our developer has been notified.") }}
                        </h2>
                    </div>
                    {#TODO: Create logo and insert here.#}
                    {#<div class="column" style="text-align: right">
                        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="">
                    </div>#}
                </div>
            </div>
        </div>
    </section>
{% endblock %}