{% extends "base.html" %}

{% block head_extra %}
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
{% endblock %}

{% block title %}
    {{ _("New Plugin") }}
{% endblock %}

{% block content %}
    <div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="columns">
            <div class="column is-half">
                <h1 class="title">{{ _("New Plugin") }}</h1>
                {{ form.hidden_tag() }}

                <div class="field">
                    <label class="label">{{ _("Name") }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="{{ _(".. name goes here.") }}" name="name"
                               required
                        >
                    </div>
                </div>

                <div class="field">
                    <label for="description" class="label">{{ _("Description") }}</label>
                    <div class="control">
                        <input type="hidden" name="description" required>
                    </div>
                    <div id="editor"></div>
                </div>

                <div class="field">
                    <label class="label">{{ _("Version") }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="{{ _("x.x.x (major, minor, update)") }}"
                               name="name"
                               value="0.1.0" required>
                    </div>
                </div>

                <div class="field">
                    <div class="file">
                        <label class="file-label">
                            <input class="file-input" type="file" name="plugin_image">
                            <span class="file-cta">
                                    <span class="file-icon"><i class="fas fa-upload"></i></span>
                                    <span class="file-label">{{ _("Select the plugin image…") }}</span>
                                </span>
                        </label>
                    </div>
                </div>

                <div class="field">
                    <label for="paid" class="checkbox">
                        <input type="checkbox" name="paid" onchange="togglePaidForms()">
                        Paid plugin?
                    </label>
                </div>

                <div class="field">
                    <div class="control">
                        <button class="button is-primary">Submit</button>
                    </div>
                </div>
            </div>
            <div class="column is-half is-hidden" id="payment-column">
                <h3 class="title">Billing Plan</h3>
                <div class="field">
                    <label class="label">{{ _("Name") }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="{{ _("The plan name") }}" name="bp_name">
                    </div>
                </div>

                <div class="field">
                    <label class="label">{{ _("Description") }}</label>
                    <div class="control">
                        <input class="input" type="text" placeholder="{{ _("The plan description") }}"
                               name="bp_description"
                        >
                    </div>

                    <div class="field">
                        <div class="control">
                            <label class="label">{{ _("The plan type") }}</label>
                            <div class="select is-primary">
                                <select aria-describedby="type-description" name="bp_type" id="type">
                                    <option value="FIXED">{{ _("Fixed") }}</option>
                                    <option value="INFINITE" selected>{{ _("Infinite") }}</option>
                                </select>
                            </div>
                        </div>
                        <small id="type-description">{{ _("Fixed number? Or infinite payment cycles?") }}</small>

                    </div>


                    <div class="field">
                        <label class="label">{{ _("Setup fee") }}</label>
                        <div class="control has-icons-left">
                            <input class="input" type="number" placeholder="0" name="bp_setup_fee" value="0"
                                   aria-describedby="setup_fee-description">
                            <span class="icon is-left">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                            <small id="setup_fee-description">{{ _("Additional one time fee.") }}</small>
                        </div>
                    </div>

                    <h3 class="subtitle">{{ _("Payment Definitions") }}</h3>
                    <label class="label">{{ _("Frequency Interval") }}</label>
                    <div class="field is-grouped">
                        <div class="control">
                            <input class="input" type="number" placeholder="" name="pd_frequency_interval" value="1"
                                   aria-describedby="cycles-description" min="1" max="12">
                        </div>
                        <div class="select is-primary">
                            <select aria-describedby="type-description" name="pd_frequency" id="type">
                                <option value="DAY">{{ _("Day") }}</option>
                                <option value="WEEK">{{ _("Week") }}</option>
                                <option value="MONTH" selected>{{ _("Month") }}</option>
                                <option value="YEAR">{{ _("Year") }}</option>
                            </select>
                        </div>
                    </div>
                    <small id="cycles-description">{{ _("The interval at which the customer is charged.") }}</small>


                    <div class="field">
                        <label class="label">{{ _("Cycles") }}</label>
                        <div class="control">
                            <input class="input" type="number" placeholder="1" name="pd_cycles" value="0"
                                   aria-describedby="cycles-description">
                        </div>
                        <small id="cycles-description">{{ _("The number of payment cycles. Set cycles to 0 for continous payment.") }}</small>
                    </div>

                    <div class="field">
                        <label class="label">{{ _("Amount") }}</label>
                        <div class="control has-icons-left">
                            <input class="input" type="number" placeholder="1" name="pd_amount" value="5"
                                   aria-describedby="amount-description">
                            <span class="icon is-left">
                                    <i class="fas fa-dollar-sign"></i>
                                </span>
                        </div>
                        <small id="amount-description">{{ _("The amount paid each interval.") }}</small>
                    </div>
                </div>
            </div>
        </div>
    </form>

{% endblock %}

{% block scripts %}
    <script src="//cdn.quilljs.com/1.3.6/quill.js"></script>
    <script type="text/javascript">
        let quill = new Quill('#editor', {
            modules: {
                toolbar: [
                    ['bold', 'italic'],
                    ['link', 'blockquote', 'code-block', 'image'],
                    [{list: 'ordered'}, {list: 'bullet'}]
                ]
            },
            placeholder: 'Compose an epic...',
            theme: 'snow'
        });

        let form = document.querySelector('form');
        form.onsubmit = function () {
            // Populate hidden form on submit
            let description = document.querySelector('input[name=description]');
            description.value = JSON.stringify(quill.root.innerHTML);
            form.submit();
        };

        function togglePaidForms() {
            // set hidden to false for other forms related to payment plans.
            let element = document.getElementById("payment-column");
            element.classList.toggle("is-hidden");
        }
    </script>
{% endblock %}