{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div class="columns">
            <div class="column is-one-fifth">
                {% if plugin.image_path %}
                    <figure class="image is-128x128">
                        <img src="{{ url_for("static", filename="plugin_images/" + plugin.image_path) }}"
                             alt="{{ _("Plugin image") }} ">
                    </figure>
                {% else %}
                    <figure class="image is-128x128">
                        <img src="https://bulma.io/images/placeholders/128x128.png">
                    </figure>
                {% endif %}
            </div>
            <div class="column is-one-fifth">
                <h3 class="title">{{ plugin.name }}</h3>
                <p>{{ _("by") }} <strong>{{ plugin.author }}</strong></p>
            </div>
            <div class="column is-two-fifths"></div>
            <div class="column is-one-fifth">
                {% if subscribed %}
                    <a href="{{ url_for("plugins.unsubscribe", name=plugin.name) }}"
                       class="button is-danger is-rounded has-text-dark">Unsubscribe</a>
                {% elif can_subscribe %}
                    <a href="{{ url_for("plugins.subscribe", name=plugin.name) }}"
                       class="button is-primary is-rounded">Subscribe</a>
                {% else %}
                    <p>{{ _("Billing plan not created yet, come back shortly!") }}</p>
                {% endif %}
                {% if current_user.admin %}
                    <a href="{{ url_for("plugins.delete", name=plugin.name) }}"
                       class="button is-danger is-rounded has-text-dark">Delete</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="columns">
            <div class="column">
                <div class="content">{{ plugin.description|safe }}</div>
            </div>
        </div>
    </div>
{% endblock %}
