{% extends "base.html" %}

{% block content %}
    <div class="container">
        {% if current_user.admin or current_user.username == user.username %}
            <h3 class="title">{{ _("Subscribed plugins") }}</h3>
            <div class="columns">
                {% if user.plugins %}
                    {% for plugin in user.plugins %}
                        <div class="column is-one-fifth">
                            <a class="has-text-weight-bold"
                               href="{{ url_for("plugins.index", name=plugin.name) }}">{{ plugin.name }}</a>
                            <figure class="image is-128x128">
                                {% if plugin.image_path %}
                                    <a href="{{ url_for("plugins.index", name=plugin.name) }}">
                                        <img src="{{ url_for("static", filename="plugin_images/" + plugin.image_path) }}"
                                             alt="">
                                    </a>
                                {% else %}
                                    <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                                {% endif %}
                            </figure>
                        </div>
                    {% endfor %}
                {% else %}
                    <div class="column">
                        <p>{{ _("No subscribed plugins. Head over to ") }} <a class="has-text-weight-bold"
                                                                              href="{{ url_for("site.index") }}">{{ _("the store") }}</a> {{ _("to subscribe to plugins") }}
                        </p>
                    </div>
                {% endif %}

            </div>
        {% endif %}
        <h3 class="title">{{ _("Developed plugins") }}</h3>
        <div class="columns">
            {% if developed_plugins %}
                {% for plugin in developed_plugins %}
                    <div class="column is-one-fifth">
                        <a class="has-text-weight-bold"
                           href="{{ url_for("plugins.index", name=plugin.name) }}">{{ plugin.name }}</a>
                        <figure class="image is-128x128">
                            {% if plugin.image_path %}
                                <a href="{{ url_for("plugins.index", name=plugin.name) }}">
                                    <img src="{{ url_for("static", filename="plugin_images/" + plugin.image_path) }}"
                                         alt="">
                                </a>
                            {% else %}
                                <img src="https://bulma.io/images/placeholders/128x128.png" alt="">
                            {% endif %}
                        </figure>
                    </div>
                {% endfor %}

            {% else %}
                <div class="column">
                    <p>{{ _("No plugins published yet") }}</p>
                </div>
            {% endif %}
        </div>

        <h3 class="title">{{ _("Billing agreements") }}</h3>
        <div class="columns">
            {% for billing_agreement in user.billing_agreements %}
                <div class="column">
                    <a href="{{ url_for("api.billing_agreement", id=billing_agreement.id) }}">{{ billing_agreement.plugin_id }}</a>
                </div>
            {% endfor %}

        </div>

    </div>

{% endblock %}

{% block scripts %}

{% endblock %}