#notification-list {
    position: fixed;
    left: 12px;
    bottom: 12px;
    height: auto;
    z-index: 50;
    min-width: 0;
}

#notification-list ul {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    padding: 0;
}

#notification-list ul li {
    line-height: 25px;
    height: 35px;
    width: auto;
    margin-top: 12px;
    background-color: rgb(45, 45, 45);
    color: white;
    text-shadow: 1px 1px #000000;
    padding: 5px 20px 5px 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    font-size: 14px;
    border-radius: 3px;
    opacity: 0;
    -webkit-animation: fadeinout 5s linear forwards;
    -o-animation: fadeinout 5s linear forwards;
    animation: fadeinout 5s linear forwards;
}

@-webkit-keyframes fadeinout {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

@keyframes fadeinout {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }
}

@-o-keyframes fadeinout {
    10% {
        opacity: 1;
    }
    90% {
        opacity: 1;
    }

}

#logo {
    letter-spacing: -0.05em;
    font-weight: 600;
}

.footer {
    background: #1c1c1c;
    box-shadow: 0 50vh 0 50vh #1c1c1c;
}